body{
   background-color: #575555
}


.topnav {
  overflow: hidden;

}

.topnav a {
  
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  
}

.topnav a:hover {
  
 background-color:#ff5733;
}

.active {
 
  color: white;
}

h2{
    text-align: left;
    color:#ff5733;
}
h1{
    text-align: center;
    color:white;
}

iv.gallery {
  margin: 5px;
  
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}



.desc {
  padding: 15px;
  text-align: left;
}


.imgalt{
    width: 450px;
    height: 250px;

    
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p{
    color: white;
    text-align: center;
}
