
body {
  background-color:#575555;
}

h1 {
  color: OrangeRed;
  text-align: left;
}

p {
  font-family:'Brush Script MT', cursive ;
  font-size: 20px;
}

ul{
    background-image: url(lenoir.jpg);
    height: -50 vh;
    background-size: cover;
    backgground-position: center;
    float: left;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #FFF;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #FFF;
    color: #000;
}


    






